.vertical-list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: stretch;
}

/* inputs */

.input-line {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.input {
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
   border-radius: 10px;
   border: 1px solid black;
   padding: 1em;
   margin: 1em;
   width: calc(100% - 2em);
}

.input:focus {
   outline: none;
   border: 2px solid var(--blue);
}

input.ng-touched.ng-invalid {
   border: 2px solid red;
}

/* texts */

.text {
   font-family: var(--main-font);
   font-size: var(--normal-font-size);
}

/* other */

.page-padding {
   padding: 1rem;
}