<div class="horizontal-list">
   <main-menu></main-menu>

   <div class="vertical-list main-page">
      <div class="main-page-header">
         <a class="title-link" routerLink="/cards/{{boardId}}">
            <tui-icon icon="arrow-left" class="icon"></tui-icon>
            Назад
         </a>
      </div>

      <div class="full-width-page">
         <div class="vertical-list gap full-width">
            <div class="horizontal-list gap">
               <button tuiButton size="m" class="blue-button" (click)="startCreatingRole()">
                  <tui-icon icon="plus" class="icon"></tui-icon>
                  Добавить
               </button>
               <button tuiButton size="m" class="blue-button" [disabled]="selectRoleIndex() < 0" (click)="confirmDeleteRole()">
                  <tui-icon icon="trash" class="icon"></tui-icon>
                  Удалить
               </button>
            </div>
            

            <div class="group-horiz-list full-width">
               <div class="half-width vertical-list cloud">
                  <div class="header-row">Роли</div>
                  @if (isCreateRole()) {
                     <input
                        tuiAutoFocus
                        class="row2 input"
                        placeholder="Название роли"
                        [formControl]="createdRoleName"
                        (keydown.enter.prevent)="createRole()"
                        (blur)="cancelCreatingRole()"
                     >
                  }
                  @for (role of roles(); track role.roleId) {
                     <div 
                        [class]="selectRoleIndex() == $index ? 'selected-row' : 'row'"
                        (click)="selectRow($index)"
                     >
                        {{ role.roleName }}
                     </div>
                  }
                  @empty {
                     <div class="row2">
                        Пока нет ролей
                     </div>
                  }
               </div>

               <div class="half-width vertical-list">
                  <div class="full-width cloud">
                     <div class="header-row">Карточки</div>
                     @if (selectRoleIndex() == -1) {
                        <div class="row2">
                           Выберите роль
                        </div>
                     } @else {
                     <form [formGroup]="roleForm" class="full-width">
                        <div formArrayName="checkboxes" class="full-width vertical-list">
                           @for (card of cards; track card.cardId) {
                              <div class="row2 horizontal-center-list">
                                 <input tuiCheckbox type="checkbox" [formControlName]="$index">
                                 {{ card.cardName }}
                              </div>
                           }
                           @empty {
                              <div class="row2">
                                 Пока нет карточек
                              </div>
                           }
                        </div>
                     </form>
                     }
                  </div>
                  @if (selectRoleIndex() != -1) {
                     <br>
                     <button tuiButton size="m" class="blue-button" (click)="updateCardsRole()">
                        <tui-icon icon="check" class="icon"></tui-icon>
                        Сохранить изменения
                     </button>
                  }
                  
               </div>     
            </div>
         </div>
      </div>
   </div>

</div>
